
.footer {
    background-color: var(--off-black);
    color: white;
}
.footer__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex: 1;

    img {
        width: 110px;
    }
    @media screen and (max-width: 768px) {
        min-width: 50%;
    }

}

.footer__container {
      display: flex; 
    flex-wrap: wrap;
    padding: 32px 8px;
    max-width: 90rem;
    margin: 0 auto;
    a {
        color: #828282;
        text-decoration: none;
        &:hover {
            color: white;
            text-decoration: underline;
        }
    }
}

.footer__content.hide-for-large {
    min-width: 100%;
    margin-bottom: 32px;
}
.footer__content {
    min-width: 300px;
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   
    ul {
        text-align: center;
        padding: 0;
        list-style: none;
        margin: 0;
        min-width: 50%;
        display: block;
    }
    li {
        min-width: 110px;
        display: inline-block;
        padding: 0;
        margin: 2px;
        a {
            display: inline-block;
            padding: 3px 12px;
        }
    }
}
.footer__decidim {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-width: 150px;
    flex: 1;
    flex-direction: column;
    padding-bottom: 16px;
    @media screen and (max-width: 768px) {
        min-width: 50%;
        padding: 32px 16px 0 16px;
        flex-direction: row;
        justify-content: center;
        align-items: flex-end;
    }

    a {
        display: inline-block;
    }
    .footer__decidim-logo{
        flex: 1;
        display: flex;
        align-items: center;
        img {
            -webkit-filter: grayscale(0%) brightness(5); /* Safari 6.0 - 9.0 */
            filter: grayscale(100%) brightness(5);
            max-width: 30vw;
            transform: translateX(-1.3px);
            @media screen and (min-width: 768px) {
                max-width: 148px;
            }
        }
 
    }
}
@media screen and (max-width: 768px) {
 
  .main-footer__badge {
 	transform: scale(.9) translate(-25%, 50%);
  }
  .footer__logo img{
 	transform: scale(2.3) translate(-25%, 25%);
  }
  .footer__decidim .footer__decidim-logo img {
    max-width: 42vw;
    transform: translate(-5%, -5%);
  }
}
.footer__cc {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex: 1;
    
    & > div {
        max-width: 110px;
    }
    img {
        width: 180px;
    }
}

.footer__cc-txt {
    line-height: 0.9;
    font-size: 9px;
    margin-bottom: 0;
}
.footer__authoring {
    text-align: center;
    padding: 16px 12px;
    min-width: 250px;
    margin-top: 32px;
}